apiVersion: 1

datasources:
  - name: ClickHouse
    type: grafana-clickhouse-datasource
    uid: clickhouse
    access: proxy
    url: http://clickhouse:8123
    jsonData:
      defaultDatabase: observability
      host: clickhouse
      port: 8123
      protocol: http
      secure: false
    secureJsonData:
      username: default
      password: ""
    editable: true
    isDefault: true
