<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="APP_LOG_ROOT">./logs</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <!-- File Appender -->
        <RollingFile name="File" fileName="${APP_LOG_ROOT}/application.log"
            filePattern="${APP_LOG_ROOT}/application-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <!-- Kafka Appender (for sending logs to Kafka) -->
        <Kafka name="Kafka" topic="application-logs">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Property name="bootstrap.servers">kafka:9092</Property>
        </Kafka>
    </Appenders>

    <Loggers>
        <!-- Application Logger (used by InjectLog4J) -->
        <Logger name="fr.umontpellier.observability" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
            <AppenderRef ref="Kafka" />
        </Logger>

        <!-- InjectLog4J Default Logger -->
        <Logger name="InjectLog4J" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Logger>

        <!-- Spring Framework Logger -->
        <Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Logger>

        <!-- Hibernate Logger -->
        <Logger name="org.hibernate" level="warn" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Logger>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>